<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="{{ asset('resources/portal/images/logo-icon.png') }}" class="logo-icon-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">Self-Service</h4>
        </div>
        <a href="javascript:;" class="ml-auto toggle-btn"> <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
            <ul>
                <li> <a href="/admin-dash"><i class="bx bx-right-arrow-alt"></i>Home</a>
                </li>
            </ul>
        </li>

        
    
        <li class="menu-label">Users</li>
        <li>
            <a href="/admin-vw-clients">
                <div class="parent-icon"><i class='bx bxs-user-detail' ></i>
                </div>
                <div class="menu-title">Clients</div>
            </a>
        </li>
        <li>
            <a href="/admin-vw-trainers">
                <div class="parent-icon"><i class='bx bxs-user-detail' ></i>
                </div>
                <div class="menu-title">Trainers</div>
            </a>
        </li>        
        <li>
            <a href="#">
                <div class="parent-icon"><i class='bx bxs-user-check' ></i>
                </div>
                <div class="menu-title">New Trainers</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="parent-icon"><i class='bx bxs-school' ></i>
                </div>
                <div class="menu-title">Schools</div>
            </a>
        </li> 
        
        <li class="menu-label">Events</li>
        <li>
            <a href="/admin-vw-create-event">
                <div class="parent-icon"><i class='bx bxs-calendar-plus' ></i>
                </div>
                <div class="menu-title">New event</div>
            </a>
        </li>
        <li>
            <a href="/admin-vw-all-sessions">
                <div class="parent-icon"><i class='bx bx-list-ol' ></i>
                </div>
                <div class="menu-title">All events</div>
            </a>
        </li>
        <!--<li>
            <a href="/admin-vw-ongoing-sessions">
                <div class="parent-icon"><i class='bx bx-customize' ></i>
                </div>
                <div class="menu-title">Ongoing events</div>
            </a>
        </li>-->
        <li>
            <a href="/admin-vw-canceled-sessions">
                <div class="parent-icon"><i class='bx bxs-calendar-x' ></i>
                </div>
                <div class="menu-title">Cancelled events</div>
            </a>
        </li>
        <li>
            <a href="/admin-vw-complete-sessions">
                <div class="parent-icon"><i class='bx bxs-calendar-check' ></i>
                </div>
                <div class="menu-title">Complete events</div>
            </a>
        </li>
        
    
        <li class="menu-label">Payments</li>
        <li>
            <a href="#">
                <div class="parent-icon"><i class="bx bx-money"></i>
                </div>
                <div class="menu-title">Payment History</div>
            </a>
        </li>
        
        
        <li class="menu-label">Audits</li>
        <li>
            <a href="#">
                <div class="parent-icon"><i class='bx bx-log-in-circle' ></i>
                </div>
                <div class="menu-title">Audit Logs</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</div>