<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img src="{{ asset('resources/portal/images/logo-icon.png') }}" class="logo-icon-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">Self-Service</h4>
        </div>
        <a href="javascript:;" class="ml-auto toggle-btn"> <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
            <ul>
                <li> <a href="/client-dash"><i class="bx bx-right-arrow-alt"></i>Home</a>
                </li>
            </ul>
        </li>
        <li class="menu-label">Services</li>
        <li>
            <a href="/client-vw-services-offered">
                <div class="parent-icon"><i class='bx bx-customize' ></i>
                </div>
                <div class="menu-title">Services Offered</div>
            </a>
        </li>

        <li class="menu-label">Training</li>
        <li>
            <a href="/client-vw-book-trainer">
                <div class="parent-icon"><i class='bx bx-customize' ></i>
                </div>
                <div class="menu-title">Book Trainer</div>
            </a>
        </li>
        <li>
            <a href="/client-vw-sessions">
                <div class="parent-icon"><i class='bx bx-customize' ></i>
                </div>
                <div class="menu-title">My Sessions</div>
            </a>
        </li>
    
        <li class="menu-label">Payments Made</li>
        <li>
            <a href="#">
                <div class="parent-icon"><i class="bx bx-money"></i>
                </div>
                <div class="menu-title">Payment History</div>
            </a>
        </li>
    
        {# <li class="menu-label">Client Experiences</li>
        <li>
            <a href="/client-vw-client-experience">
                <div class="parent-icon"><i class="bx bx-money"></i>
                </div>
                <div class="menu-title">Share your experience</div>
            </a>
        </li> #}
    </ul>
    <!--end navigation-->
</div>