<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <a href="/" target="_blank"><img src="{{ asset('resources/portal/images/logo-icon.png') }}" class="logo-icon-2" alt="" /></a>
        </div>
        <div>
            <h4 class="logo-text">Self-Service</h4>
        </div>
        <a href="javascript:;" class="ml-auto toggle-btn"> <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
            <ul>
                <li> <a href="/client-dash"><i class="bx bx-right-arrow-alt"></i>Home</a>
                </li>
            </ul>
        </li>
        <li class="menu-label hide-me">Services</li>
        <li class=" hide-me">
            <a href="/client-vw-services-offered">
                <div class="parent-icon"><i class='bx bx-customize' ></i>
                </div>
                <div class="menu-title">Services Offered</div>
            </a>
        </li>
        
        
        {# <li class="menu-label">Chat Room</li>
        <li>
            <a href="/client-vw-chat-room">
                <div class="parent-icon"><i class='bx bx-conversation' ></i>
                </div>
                <div class="menu-title">Chat Room</div>
            </a>
        </li> #}

        {# <li class="menu-label">Events</li>
        <li>
            <a href="/client-vw-book-event">
                <div class="parent-icon"><i class='bx bx-customize' ></i>
                </div>
                <div class="menu-title">View Events</div>
            </a>
        </li> #}
        <li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class="bx bx-file"></i>
				</div>
				<div class="menu-title">Events</div>
			</a>
			<ul>
				<li><a href="/client-vw-book-event"><i class="bx bx-right-arrow-alt"></i>Upcoming Events</a></li>
				<li><a href="/client-vw-book-ongoing-event"><i class="bx bx-right-arrow-alt"></i>Ongoing Events</a></li>
			</ul>
		</li>
        <li>
            <a href="/client-vw-sessions">
                <div class="parent-icon"><i class='bx bx-customize' ></i>
                </div>
                <div class="menu-title">My Sessions</div>
            </a>
        </li>
    
        <li class="menu-label">Payments Made</li>
        <li>
            <a href="#">
                <div class="parent-icon"><i class="bx bx-money"></i>
                </div>
                <div class="menu-title">Payment History</div>
            </a>
        </li>


        {# <li class="menu-label ">Chat Room</li>
        <li>
            <a href="/client-vw-chat-room">
                <div class="parent-icon"><i class="bx bx-conversation"></i>
                </div>
                <div class="menu-title">Chat Room</div> <box-icon name='transfer-alt'></box-icon>
            </a>
        </li> #}
        
        <li class="menu-label">Set Up</li>
        <li>
            <a href="/client-vw-registered-kids">
                <div class="parent-icon"><i class="bx bx-street-view"></i>
                </div>
                <div class="menu-title">Registered Kids</div>
            </a>
        </li>
        <li>
            <a href="/client-vw-registered-chaperone">
                <div class="parent-icon"><i class="bx bx-user-check"></i>
                </div>
                <div class="menu-title">Registered Chaperone</div>
            </a>
        </li>

        
        
        <li class="menu-label">Client Experiences</li>
        <li>
            <a href="/client-vw-client-experience">
                <div class="parent-icon"><i class="bx bx-transfer-alt"></i>
                </div>
                <div class="menu-title">Share your experience</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</div>