<!-- Start Footer Area -->
<div class="footer-area footer-bg pt-100 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="single-footer-widget">
					<a href="index.html">
						<img src="{{asset('resources/skin/assets/images/logo.png')}}" alt="Image">
					</a>

					<ul class="contact-info">
						<li>
							<span>Location:</span>
							Westlands, Nairobi, Kenya
						</li>
						<li>
							<span>Contact:</span>
							<a href="tel:+1-(305)-547-9909">0114 900 786</a>
						</li>
						<li>
							<span>Time:</span>
							(8am - 5pm EAT, Monday - Friday)
						</li>
						<li>
							<span>Email:</span>
							<a href="#">
								<span class="__cf_email__" data-cfemail="">info@taalamcare.com</span>
							</a>
						</li>
					</ul>

					<ul class="social-link">
						<li>
							<a href="https://www.facebook.com/" target="_blank">
								<i class="ri-facebook-fill"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/talamu_sports" target="_blank">
								<i class="ri-twitter-fill"></i>
							</a>
						</li>
						<li>
							<a href="https://api.whatsapp.com/send?phone=11165458856" target="_blank">
								<i class="ri-whatsapp-fill"></i>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/" target="_blank">
								<i class="ri-instagram-line"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-7">
				<div class="row">
					<div class="col-lg-4 col-sm-4">
						<div class="single-footer-widget">
							<h3>Company</h3>

							<ul class="use-link">
								<li>
									<a href="/mission">Mission</a>
								</li>
								<li>
									<a href="/core-values">Core Values</a>
								</li>
								<li>
									<a href="/opportunities">Opportunities</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-4 col-sm-4">
						<div class="single-footer-widget">
							<h3>Explore</h3>

							<ul class="use-link">
								<li>
										<a href="/current-activities?attr-ref=1">Day/weekend camps</a>
									</li>
									<li>
										<a href="/personal-coaching?attr-ref=2">Private coaching</a>
									</li>
									<li>
										<a href="/current-activities?attr-ref=3">Holiday camps</a>
									</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-4 col-sm-4">
						<div class="single-footer-widget">
							<h3>Resources</h3>

							<ul class="use-link">
								<li>
										<a href="/faqs">FAQs</a>
									</li>
									<li>
										<a href="/health-and-safety">Health and safety</a>
									</li>
									<li  class="hide-me">
										<a href="#">Privacy</a>
									</li>
									<li  class="hide-me">
										<a href="/health-and-safety">COVID-19 Resources</a>
									</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copy-right-area bg-color-f3f9f8">
	<div class="container">
		<div class="copy-right-content">
			<p>© Taalam
				<a href="#" target="_blank">Care</a> <span class="social">
							
							<a class="footer-img"  href="https://www.facebook.com/" target="_blank">
								<i class="ri-facebook-fill"></i>
							</a>
							<a class="footer-img" href="https://twitter.com/talamu_sports" target="_blank">
								<i class="ri-twitter-fill"></i>
							</a>
							<a class="footer-img" href="https://api.whatsapp.com/send?phone=11165458856" target="_blank">
								<i class="ri-whatsapp-fill"></i>
							</a>
							<a class="footer-img" href="https://www.instagram.com/" target="_blank">
								<i class="ri-instagram-line"></i>
							</a>
						</span>
			</p> 
		</div>
	</div>
</div>
<!-- End Copy Right Area -->

<!-- Start Go Top Area -->
<div class="go-top">
	<i class="ri-arrow-up-s-fill"></i>
	<i class="ri-arrow-up-s-fill"></i>
</div>
<!-- End Go Top Area -->
<!-- Modal -->

