<header
	class="main-header header-style-one">

	<!-- Header Top -->
	<div class="header-top">
		<div class="outer-container">
			<div class="clearfix">

				<!-- Top Left -->
				{# <div class="top-left pull-left">
									<div class="text">Welcome to Taalam Care</div>
								</div> #}


				<!-- Top Right -->
					<div class="top-right pull-right"> {# <input type="text" placeholder="search..."> #}
					<!-- Info List -->
						<ul class="info-list"> <li>
							<form
								action="#">
								{# <input type="text" id="searchbar" placeholder=" Search..." name="search"> #}
								<div class="input-group input-group-sr mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">
											<i class="fa fa-search"></i>
										</span>
									</div>
									<input type="text" class="form-control" placeholder="Search..." aria-label="search" aria-describedby="basic-addon1">
								</div>
							</form>
						</li>
						<li>
							<span class="icon "></span>
							| hello@taalamcare.com
						</li>
						<li>
							<span class="icon "></span>
							<a href="tel:0114900786">
								| 0114 900 786</a>
						</li>
					</ul>

				</div>

			</div>
		</div>
	</div>

	<!-- Header Upper -->
	<div id="orign-nav" class="header-upper hide-me">
		<div class="clearfix outer-container">


			<div class="clearfix nav-outer">
				<!--Mobile Navigation Toggler-->
				<div class="mobile-nav-toggler">
					<span class="icon flaticon-menu"></span>
				</div>
				<!-- Main Menu -->
				<nav class="main-menu navbar-expand-md">
					<div class="navbar-header">
						<!-- Toggle Button -->
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div class="clearfix navbar-collapse collapse" id="navbarSupportedContent">
						<ul class="clearfix navigation">
							<li id="home-nav" class="">
								<a href="/">Home</a>
							</li>
							<li id="home-nav-2" class="dropdown">
								<a href="#">About</a>
								<ul>
									<li><a href="/about">Our Story</a></li>
									<li><a href="/opportunities">Opportunities</a></li>
								</ul>
							</li>
							<li id="home-nav-3" class="dropdown">
								<a href="#">Services</a>
								<ul>
									<li><a href="/current-activities?attr-ref=1"  attr-ref="1">Day/weekend camps</a></li>
									<li><a href="/current-activities?attr-ref=3"  attr-ref="3">Holiday Camps</a></li>
								</ul>
							</li>
							<li id="home-nav-4" class="dropdown">
								<a href="#">Community</a>
								<ul>
									<li><a href="/blog">Blog</a></li>
									<li><a href="/client-experiences">Client experiences</a></li>
									<li><a href="#">Resources</a></li>
								</ul>
							</li>

							<li id="home-nav-5" class="dropdown">
								<a href="#">
									<span class="flag-icon fa fa-user"></span>
									Login</a>
								<ul>
									<li><a href="/client-auth">Client Login</a></li>
									<li><a href="/trainer-auth">Trainer Login</a></li>
									<li><a href="#">School Login</a></li>
								</ul>
							</li>
							<li id="home-nav-6" class="dropdown">
								<a href="#">Support</a>
								<ul>
									<li><a href="/faqs">FAQs</a></li>
									<li><a href="/health-and-safety">Health and Safety</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>

				<!-- Main Menu End-->

			</div>

		</div>
	</div>
	<!--End Header Upper-->


	<!-- Mobile Menu  -->
	<div class="mobile-menu">
		<div class="menu-backdrop"></div>
		<div class="close-btn">
			<span class="icon flaticon-multiply"></span>
		</div>

		<nav class="menu-box">
			<div class="nav-logo">
				<a href="#"><img src="{{asset('resources/skin/images/logos/1.jpg')}}" alt="" title=""></a>
			</div>
			<div
				class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
			</div>
		</nav>
	</div>
	<!-- End Mobile Menu -->

	<div id="ake-nav" class="header_wrap layer_wrapper">
		<div class="header type2">
			<div class="center">
				<div class="head_inner">
					<div class="logo">
						<a class="logoimga" title="Martial Arts Theme Demo" href="/"><img src="{{asset('resources/skin/images/logos/logotrans.png')}}"/></a>
						<span class="desc">stay active have fun</span>
					</div>

					<div class="nav-outer header-content-right ">
						<a id="simple-menu" href="#sidr">&nbsp;</a>
						<div class="mobile-nav-toggler">
							<span class="icon flaticon-menu"></span>
						</div>
						<div id="topmenu" class="">
							<div class="main-menu menu-header navbar-expand-md">
								<div class="navbar-header">
									<!-- Toggle Button -->
									<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<ul id="menu-header" class="menu">
									<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-10 current_page_item menu-item-37">
										<a href="/" aria-current="page">Home</a>
									</li>
									<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-38">
										<a href="#">About</a>
										<ul class="sub-menu">
											<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86 hide-me">
												<a href="/about">Our Story</a>
											</li>
											<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
												<a href="/opportunities">Opportunities</a>
											</li>
										</ul>
									</li>
									<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-38">
										<a href="#">Services</a>
										<ul class="sub-menu">
											<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
												<a href="/current-activities?attr-ref=1" attr-ref="1">Day/weekend camps</a>
											</li>
											<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
												<a href="/current-activities?attr-ref=3"  attr-ref="3">Holiday Camps</a>
											</li>
										</ul>
									</li>
									<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-35">
										<a href="#">Support</a>
										<ul class="sub-menu">
											<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
												<a href="/faqs">FAQs</a>
											</li>
											<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
												<a href="health-and-safety">Health and Safety</a>
											</li>
										</ul>
									</li>
									<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-38">
										<a href="#">Community</a>
										<ul class="sub-menu">
											<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
												<a href="/blog">Blog</a>
											</li>
											<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
												<a href="/personal-coaching" id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">Personal Coaching</a>
											</li>
											<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
												<a href="/client-experiences" id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">Client experiences</a>
											</li>
										</ul>
									</li>
									
									<li id="menu-item-583" class="appointment-btn menu-item menu-item-type-custom menu-item-object-custom menu-item-583">
										<a href="#" style="transform: skew(50deg);-ms-transform: skew(50deg);-webkit-transform: skew(50deg);">Log In</a>
										<ul class="sub-menu sub-menu-anti-sq">
											<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
												<a href="/client-auth">Client Login</a>
											</li>
											<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
												<a id="menu-item-86" href="/trainer-auth" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">Trainer Login</a>
											</li>
											<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
												<a id="menu-item-86" href="#" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">School Login</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</header>
