<!-- Start Preloader Area -->
<div class="preloader">
	<div class="content">
		<div class="box"></div>
	</div>
</div>
<!-- End Preloader Area -->

<!-- Start Navbar Area -->
<div class="navbar-area">
	<div class="mobile-responsive-nav">
		<div class="container">
			<div class="mobile-responsive-menu">
				<div class="logo">
					<a href="/index">
						<img src="{{asset('resources/skin/assets/images/logo.png')}}" alt="logo">
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="desktop-nav">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-md navbar-light">
				<a class="navbar-brand" href="/index">
					<img src="{{asset('resources/skin/assets/images/logo.png')}}" alt="logo">
				</a>

				<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
					<div class="others-options ml-30">
						<form class="search-form">
							<input class="form-control" type="search" placeholder="Search here...">
							<button class="search-btn" type="submit">
								<i class="ri-search-line"></i>
							</button>
						</form>
					</div>

					<ul class="navbar-nav m-auto">
						<li class="nav-item">
							<a href="/index" class="nav-link active">
								Home
							</a>
						</li>

						<li class="nav-item">
							<a href="#" class="nav-link dropdown-toggle">
								Services
							</a>

							<ul class="dropdown-menu">
								<li class="nav-item">
									<a class="nav-link" href="/current-activities">Active Kids</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/current-activities?attr-ref=1">Private coaching</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/current-activities?attr-ref=3">Holiday Camps</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/current-activities?attr-ref=5">PE &amp; sports</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/current-activities?attr-ref=6">Inclusivity in sports</a>
								</li>
							</ul>
						</li>

						<li class="nav-item">
							<a href="#" class="nav-link dropdown-toggle">
								Community
							</a>

							<ul class="dropdown-menu">

								<li class="nav-item">
									<a href="/client-experiences">Parent experiences</a>
								</li>
								<li class="nav-item">
									<a href="/health-and-safety">Health and Safety</a>
								</li>
								<li class="nav-item">
									<a href="/opportunities">Opportunities</a>
								</li>
								<li class="nav-item">
									<a href="/blog">Blog</a>
								</li>


							</ul>
						</li>

						<li class="nav-item">
							<a href="#" class="nav-link dropdown-toggle">
								My Account
							</a>

							<ul class="dropdown-menu">
								<li class="nav-item">
									<a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">Parent Login</a>
								</li>
								<li class="hide-me">
									<a href="/trainer-auth">Trainer Login</a>
								</li>
								<li class="hide-me">
									<a href="#">School Login</a>
								</li>
							</ul>
						</li>

						{# <li class="nav-item">
																																	<a href="#" class="nav-link">Contact Us</a>
																																</li> #}
					</ul>

					<div class="others-options">
						<ul class="d-flex justify-content-between align-items-center">
							<li>
								<a href="tel:+(111)-65-458-856" class="call-us">
									<i class="ri-phone-line"></i>
									0114 900 786
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<div class="others-option-for-responsive">
		<div class="container">
			<div class="dot-menu">
				<div class="inner">
					<div class="circle circle-one"></div>
					<div class="circle circle-two"></div>
					<div class="circle circle-three"></div>
				</div>
			</div>

			<div class="container">
				<div class="option-inner">
					<div class="others-options justify-content-center d-flex align-items-center">
						<ul>
							<li>
								<form class="search-form">
									<input class="form-control" type="search" placeholder="Search here...">
									<button class="search-btn" type="submit">
										<i class="ri-search-line"></i>
									</button>
								</form>
							</li>
							<li>
								<a href="tel:+(111)-65-458-856" class="call-us">
									<i class="ri-phone-line"></i>
									0114 900 786
								</a>
							</li>
							<li>
								<button class="menu-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
									<i class="flaticon-right-menu-bars"></i>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="others-option-for-responsive">
		<div class="container">
			<div class="dot-menu">
				<div class="inner">
					<div class="circle circle-one"></div>
					<div class="circle circle-two"></div>
					<div class="circle circle-three"></div>
				</div>
			</div>

			<div class="container">
				<div class="option-inner">
					<div class="others-options justify-content-center d-flex align-items-center">
						<ul>
							<li>
								<form class="search-form">
									<input class="form-control" type="search" placeholder="Search here...">
									<button class="search-btn" type="submit">
										<i class="ri-search-line"></i>
									</button>
								</form>
							</li>
							<li>
								<a href="tel:+(111)-65-458-856" class="call-us">
									<i class="ri-phone-line"></i>
									0114 900 786
								</a>
							</li>
							<li>
								<button class="menu-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
									<i class="flaticon-right-menu-bars"></i>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Navbar Area -->

<!-- Start Offcanvas Area -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
	<div class="offcanvas-header">
		<a href="#">
			<img src="{{asset('resources/skin/assets/images/logo.png')}}" alt="Image">
		</a>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="about-us off-mb-30">
			<h3>LOGIN</h3>
			<p>Please enter your login credentials. If you don't have an account with us, please click
				<a href="/client-registration">here</a>
				to register</p>
		</div>

		<div class="contact-info off-mb-30">
			<h3>Login Section</h3>

			<ul class="contact-list">
				<div class="col-12">
					<div class="col-12 alerts-div">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<div class="removeLoginMessages"></div>
							<div class="ajaxLoginloader"></div>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
				<form action="#" id="login-form">
					<div class="mt-4 form-group">
						<label>Email Address</label>
						<input id="InputEmail1" type="email" class="form-control" placeholder="Enter your email address"/>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input id="loginpassword" type="password" class="form-control" placeholder="Enter your password"/>
					</div>
					<div class="form-row">

						<div class="text-right form-group col">
							<a href="/fe-auth-forgot-password?return-url=client-auth">
								<i class='mr-2 bx bxs-key'></i>Forgot Password?</a>
						</div>
					</div>
					<div class="mt-3 btn-group w-100">
						<button id="clientlogin" type="submit" class="btn btn-light btn-block clientlogin-btn default-btn">Log In</button>
					</div>
				</form>

				<!--<hr>-->
				<div class="text-center"><br><br>
					<p class="mb-0">New here?
						<a href="/client-registration">Sign up</a>
					</p><br>
				</div>
				<div class="text-center login-separater">
					<hr/>
					 <h3>Contact Details</h3>
					<hr/>
				</div>
				<li>
					<span>Location:</span>
					Westlands, Nairobi, Kenya
				</li>
				<li>
					<span>Contact:</span>
					<a href="tel:+1-(305)-547-9909">0114 900 786</a>
				</li>
				<li>
					<span>Time:</span>
					(8am - 5pm EAT, Monday - Friday)
				</li>
				<li>
					<span>Email:</span>
					<a href="#">
						<span class="__cf_email__" data-cfemail="">info@taalamcare.com</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Offcanvas Area -->
