<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <a href="/" target="_blank"><img src="{{ asset('resources/portal/images/logo-icon.png') }}" class="logo-icon-2" alt="" /></a>
        </div>
        <div>
            <h4 class="logo-text">Self-Service</h4>
        </div>
        <a href="javascript:;" class="ml-auto toggle-btn"> <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
            <ul>
                <li> <a href="/trainer-dash"><i class="bx bx-right-arrow-alt"></i>Home</a>
                </li>
            </ul>
        </li>
        
        <li class="menu-label">Sessions</li>
       
        <li>
            <a href="/trainer-my-sessions">
                <div class="parent-icon"><i class='bx bx-customize' ></i>
                </div>
                <div class="menu-title">My Sessions</div>
            </a>
        </li>
        
    </ul>
    <!--end navigation-->
</div>